/* Color Pathces */

.awdawd{
  background-color: #914ac8;
}

.awawwad{
  background-color: #431b5d;
}

.adawd{
  background-color: #f2758b;
}

.awdadadw{
  background-color: #a85e60;
}

.awdawdawd{
  background-color: #523869;
}

.adawawd{
  background-clip: #9ec1d1;
}